<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/visuals/styles.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    
    <!-- Bootstrap Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>

  <body>
    <!-- Navbar -->
    <section>

    </section>

    <!-- Frame1 -->
    <section>

      <div class="container-fluid" style="position:relative;">
        <div class="row" style="position: relative;">
          <!-- Background video -->
          <video class="video" preload="true" autoplay muted loop poster="../public/assets/images/oicasada.jpeg" style="position: relative;">
            <source src="../public/assets/videos/crunch.mp4" type="video/mp4">
            <source src="../public/assets/videos/crunch.webm" type="video/webm">
          </video>

          <div class="background-text center">
            <div style="text-align: center;">
              <h1 id="site-title">Lorem ipsum</h1>
              <p>Lorem ipsum</p>
            </div>


            <form action="index.html" method="post">
              <div class="row form-div">
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <input type="email" placeholder="Email" id="register-input">
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <button class="btn btn-danger" type="button" id="register-btn">Sing Up</button>
                  </div>
              </div>
          </form>
          </div>
      </div>
    </div>
  </section>

    <!-- Frame2 -->
    <section>

    </section>

    <!-- Frame3 -->
    <section>

    </section>

    <!-- Frame4 -->
    <section>

    </section>

    <!-- Frame5 -->
    <section>

    </section>

    <!-- Footer -->
    <section>

    </section>

  </body>
</html>
