@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
:root{
  --color-dark-light: #23272a;
  --color-white: white;
  --color-bluebold: #7289da;
  --color-black: #000000;
  --color-orange: rgb(253, 149, 31);
  --color-green: rgb(4, 211, 97);
  --color-purple: rgb(113, 89, 193);
}

body{
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3{
  font-family: 'Montserrat', sans-serif;
}

h1#site-title{
  font-size: 5vw;
}

p{
  font-family: 'Montserrat', sans-serif;
  font-size: 2vw;
}

.navbarsection a{
  text-decoration: none;
  color: var(--color-white);

}

header{
  box-sizing: border-box;
}


/* Classes */
.navbar{
  background-color: var(--color-dark-light);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nav-button{
  width: 8rem;
  margin: 0.5rem 0.5rem;
}

.button-div{
  margin-top: 20%;
}

.color-section{
  background-color: var(--color-dark-light);
}

.collapse.navbar-collapse{
  display: flex;
  justify-content: center;
}

.download-btn{
  width: 100%;
}

.download-div{
  width: 90%;
}

.download-icon{
  margin-right: 5%;
}

.download-info{
  text-align: center;
  padding: 10% 0;
}

.download-text{
  font-family: 'Montserrat', sans-serif;
  color: 	#FFA500;
  font-size: 5vw;
  margin-top: 25%;
}

.dropdown-menu a{
  color: var(--color-black);
}
.dropdown-menu a:hover{
  font-weight: bold;
  color: var(--color-orange);
}

.navbar-nav.text-center li:hover{
  font-weight: bold;
  color: var(--color-orange);
}
.navbar-nav.text-center li a:hover{
  font-weight: bold;
  color: var(--color-orange);
}

.btn{
  color: var(--color-orange);
  border: 2px solid var(--color-orange);
  background-color: var(--color-dark-light);

}

.btn:hover{
  background-color: var(--color-orange);
  color: var(--color-dark-light);
  transition: 700ms;
}

.center{
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.subtitle{
  color: var(--color-dark-light);
  font-weight: bold;
}

.background-text{
  color: white;

}

.form-div{
  position: relative;
  text-align: center;
  margin: 7% 0;
}

.feature-box{
  text-align: center;
  padding: 4.5rem;
}

.feature-text{
  padding-top: 2.5rem;
  font-size: 1.5rem;
}

.feature-icon:hover{
  color: var(--color-orange);
}

.video{
  width: 100%;
  max-height:100%;
  position: relative;
  z-index: -1;
}

.smartphone-img{
  width: 100%;
  height: 100%;
}

/* ID's */
#register-input{
  width: 100%;
  height: 3rem;
  font-weight: bold;
}

#register-btn{
	width: 100%;
}


.titleSubscription{
  text-align: center;
  padding: 32px;
  margin-top: 56px;
}

.titleSubscription h1{
  font-size: 34px;
  margin-bottom: 16px;
  text-shadow: 1px 1px 5px var(--color-black);
  font-weight: bold;
}

.titleSubscription p{
  font-size: 18px;
  font-weight: bold;
  color: var(--color-dark-light);
  text-shadow: 1px 1px 5px var(--color-black);

}

.grid{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main{
  max-width: 100%;
  padding: 30px;
}

.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.card{
  text-align: center;

}

.image-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.titleAni span{
  width: 48px;
  height: 48px;
  padding: 30px;
  border: 5px solid var(--color-bluebold);
  border-radius: 50%;
  font-size: 24px;
  font-weight: bold;
}

.image-container h2{
  margin-top: 64px;
}

@media (max-width: 1028px){
  #register-btn{
	margin-top: 2rem;
  }
}
