@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
:root{
  --color-dark-light: #23272a;
  --color-white: white;
  --color-bluebold: #7289da;
  --color-black: #000000;
  --color-orange: rgb(253, 149, 31);
  --color-green: rgb(4, 211, 97);
  --color-purple: rgb(113, 89, 193);
}

body{
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3{
  font-family: 'Montserrat', sans-serif;
}

h1#site-title{
  font-size: 6rem;
}

p{
  font-family: 'Montserrat', sans-serif;
  font-size: 2vw;
}

.navbarsection a{
  text-decoration: none;
  color: var(--color-white);

}

header{
  box-sizing: border-box;
}


/* Classes */
.navbar{
  background-color: var(--color-dark-light);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.navtitle a span{
  font-size: 1.5rem;
  color: var(--color-white);
  font-weight: bold;
  text-shadow: 0.25rem 0.188rem 0.125rem var(--color-orange);
}

.nav-button{
  width: 8rem;
  margin: 0.5rem 0.5rem;
}

.navbar-toggler{
  color: gray;
}

.button-div{
  margin-top: 20%;
}

.color-section{
  background-color: var(--color-dark-light);
}

.download-btn{
  width: 85%;
  margin-top: 2.5rem;
}

.download-div{
  width: 90%;
}

.download-icon{
  margin-right: 5%;
}

.download-info{
  text-align: center;
  padding: 5% 0;
}

.download-text{
  font-family: 'Montserrat', sans-serif;
  color: 	#FFA500;
  font-size: 5vw;
  text-align: center;
}

.dropdown-menu a{
  color: var(--color-black);
}
.dropdown-menu a:hover{
  font-weight: bold;
  color: var(--color-orange);
}

.navbar-nav.text-center li:hover{
  font-weight: bold;
  color: var(--color-orange);
}
.navbar-nav.text-center li a:hover{
  font-weight: bold;
  color: var(--color-orange);
}

.navlink{
  color: var(--color-white);
}

.btn{
  color: var(--color-orange);
  border: 2px solid var(--color-orange);
  background-color: var(--color-dark-light);

}

.btn:hover{
  background-color: var(--color-orange);
  color: var(--color-dark-light);
  transition: 700ms;
}

/* .center{
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} */

.subtitle{
  color: var(--color-orange);
  font-weight: bold;
}

.background-text{
  color: white;
  position: absolute;
}

.form-div{
  position: relative;
  text-align: center;
  margin: 7% 0;
}

.video-div{
  overflow-x: hidden;
}

.feature-box{
  text-align: center;
  padding: 4.5rem;
}

.feature-text{
  padding-top: 2.5rem;
  font-size: 1.5rem;
}

.feature-icon:hover{
  color: var(--color-orange);
}

.video{
  width: 100%;
  max-height:100%;
  position: relative;
  z-index: -1;
}

.smartphone-img{
  width: 100%;
  height: 100%;
}

.anime-content-div{
  width: 80%;
  height: 80%;
  text-align: center;
  padding: 5% 2%;
}

.anime-title{
  color: orange;
  font-style: bold;
  font-size: 2.7rem;
  padding: 1rem 0;
}

.synopsis{
  color: gray;
  font-size: 1rem;
  justify-content: center;
}

.iframe-container{
  overflow: hidden;
  padding-top: 62.5%;
  position: relative;
}

.iframe-container iframe{
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* ID's */
#register-input{
  width: 100%;
  height: 3rem;
  font-weight: bold;
}

#register-btn{
	width: 75%;
}

.frame4{
  background-color: var(--color-orange);
  padding: 2rem 0;

}

.titleSubscription{
  text-align: center;
  padding: 2rem;
  padding-top: 4%;
}

.titleSubscription h1{
  border-top: 3px solid var(--color-white);
  font-size: 34px;
  margin-bottom: 16px;
  font-weight: bold;
  padding-top: 4%;
}

.titleSubscription p{
  font-size: 18px;
  font-weight: bold;
  color: var(--color-dark-light);
  padding-bottom: 4%;
  border-bottom: 3px solid var(--color-white);

}

.card-btn{
  width: 90%;
  height: 90%;
  margin-bottom: 2rem;
}

.card{
  background-color: var(--color-dark-light);
  color: var(--color-orange);
  width: 100%;
  height: 100%;
}

.pricing-column{
  margin-bottom: 2%;
}

.singup-text{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

.cardsub:hover {
 transition: 2s;
 color: var(--color-white);
}

.cardsub::before{
  content: "";
  width: 0%;
  height: 0.2rem;
  background-color: var(--color-white);
  position: absolute;
  left: 0;
  top: -1px;
}

.cardsub:hover::before{
  width: 100%;
  transition: width 1.5s ease-in-out;
  padding-right: 1rem;
}

.cardsub::after{
  content: "";
  width: 0%;
  height: 0.2rem;
  background-color: var(--color-white);
  position: absolute;
  left: 0;
  bottom: -1px;
}

.cardsub:hover::after{
  width: 100%;
  transition: width 1.5s ease-in-out;
  padding-right: 1rem;
}


.card-header h1 {
  font-family: "Poppins", sans-serif;
  border: 0.125rem solid var(--color-orange);
  text-align: center;
  padding: 3rem;
  color: var(--color-white);
  background-color: var(--color-dark-light);
}

.card-header h1 span{
  font-size: 2.9rem;
  color: var(--color-white);
  font-weight: bold;
  text-shadow: 0.25rem 0.188rem 0.125rem var(--color-orange);
}

.card-body h2,p{
  font-family: "Poppins", sans-serif;
}

.price-text{
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.price-text span{
  font-size: 1.5rem;
}

.price-text span + span{
  font-size: 1rem;
  text-transform: lowercase;
}

.benefits{
  padding: 1rem;
  list-style-type: circle;
  font-size: 1.25rem;
  line-height: 1.5rem;
  list-style-position: inside;  
  /* list-style-image: url("../assets/images/correct.svg"); */
}
.benefits li:first-child{
  margin-top: 1rem;
}

.benefits li:last-child{
  margin-bottom: 1rem;
}

.benefits li + li{
  margin-top: 1rem;
}


.benefits::before{
  content: "";
  width: 0%;
  height: 0.2rem;
  background-color: var(--color-orange);
  position: absolute;
  right: 0;
  margin-bottom: 1rem;
}

.benefits:hover::before{
  width: 100%;
  transition: width 1.5s ease-in-out;
  padding-right: 1rem;
}

.benefits::after{
  content: "";
  width: 0%;
  height: 0.2rem;
  background-color: var(--color-orange);
  position: absolute;
  right: 0;
}

.benefits:hover::after{
  width: 100%;
  transition: width 1.5s ease-in-out;
  padding-right: 1rem;
}

.infosub p{
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
}

.footer{
  padding-top: 3rem;
}

.ultimate{
  background-color: var(--color-dark-light);
  padding-top: 4%;
}

.socials{
  display: flex;
  color: var(--color-white);
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-top: 0.188rem solid var(--color-orange);
  border-bottom: 0.188rem solid var(--color-orange);
}

.socialinfo h2{
  /* font-family: 'Poppins', sans-serif; */
  font-weight: normal;
  font-size: 1.5rem;
  margin-right: 1rem;
  text-shadow: 0.25rem 0.188rem 0.125rem var(--color-orange);
}

.iconlinks{
  color: var(--color-white);
  text-decoration: none;
  /* box-shadow: 0.25rem 0.02rem 0.125rem var(--color-orange); */
  font-size: 2.5rem;
  border-radius: 0.5rem;

}

.iconlinks:hover{
  transition: 0.7s;
  text-decoration: none;
  box-shadow: 0.4rem 0.1rem 0.125rem var(--color-orange);
}


.socialinks a + a{
  margin-left: 4rem;
}

.socialinks{
  display: flex;
  justify-content: center;
}

.infotitle{
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
  margin-left: 1.15rem;
  font-weight: bold;
  text-shadow: 0.2rem 0.188rem 0.125rem var(--color-black);
}

.infotitle img{
  height: 1.5rem;
  width: 1.5rem;
}

.aboutani{
  color: var(--color-white);
  font-weight: bold;
  text-shadow: 0.25rem 0.188rem 0.125rem var(--color-orange);
}

.icon{
  font-size: 1.2rem;
  margin-right: 0.3rem;
}

.infotitle h4{
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0.2rem;
}

.infotitle span{
  font-size: 1.5rem;
  color: var(--color-white);
  font-weight: bold;
  text-shadow: 0.25rem 0.188rem 0.125rem var(--color-orange);
}

.ani img{
  margin-top: 0.3rem;
  height: 1.2rem;
  width: 2.2rem;
  margin-right: 0.3rem;
}

.infolist{
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.infolist a{
  font-size: 0.95rem;
  text-decoration: none;
  color: var(--color-white);
  max-width: fit-content;
}

.infolist a + a{
  margin-top: 0.5rem;
}

.infolist a:hover{
  transition: 1.5s;
  font-weight: bold;
  color: var(--color-orange);
  text-shadow: 0.5rem 0.125rem 1rem var(--color-black);
}

@media (max-width: 1060px){

  .anime-content-div{
    padding: 0 1rem 3rem 1rem;
  }

  .anime-content-div.carousel-text{
    padding: 0.5rem 1rem;
  }

  .download-btn{
    width: 100%;
  }

  .download-text{
     font-size: 4rem;
  }

  .subtitle{
    font-size: 1.5rem;
  }

  .synopsis{
    font-size: 2vw;
  }

  .video{
    width: 250%;
    height: 250%;
  }
}
